%heading {
  font-weight: 700;
  font-family: $font-main;
  text-transform: capitalize;
}

.btn {
  padding: 1.6rem 3.1rem;
  border-radius: 1.7rem;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;

  &--white:link, &--white:visited {
    background-color: $color-white;
    color: $color-black;
  }

  &--dark:link, &--dark:visited {
    color: $color-white;
    background-color: $color-black;
  }

  &--blue:link, &--blue:visited {
    background-color: $color-blue-2;
    color: $color-white;
  }
}

.heading-1 {
  @extend %heading;
  font-size: 8rem;
  &--highlighted {
    color: $color-blue-2;
  }

  &--centered {
    text-align: center;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 6.5rem;
  &--highlighted {
    color: $color-blue-2;
  }

  &--centered {
    text-align: center;
  }
}

.heading-3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.2rem;
  font-family: $font-main;

  &--white {
    color: $color-white;
  }

  &--bold {
    font-weight: 700;
  }

  &--centered {
    text-align: center;
  }
}

.heading-4 {
  font-family: $font-main;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 5.2rem;
  color: #ABABAB;

  &--centered {
    text-align: center;
  }

  &.active {
    color: $color-white;
  }
}

