.footer {
  background: #1B2534;
  color: $color-white;
  padding: 15.3rem 0 7.5rem 0;

  &__inner {
    width: 100%;
    padding: 3rem;
  }

  &__main-row {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    border-bottom: 1px solid #606060;
    padding-bottom: 8px;
    margin-bottom: 1.8rem;

    @media only screen and (max-width: $breakpoint-large) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__col-1 {
    max-width: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $breakpoint-large) {
      max-width: 50%;
    }
  }

  &__logo {
    width: 100%;
    max-width: 17.5rem;
    margin-bottom: 2.2rem;
  }

  &__text {
    letter-spacing: .2px;
    font-weight: 400;
    color: $color-light-grey-2;
    font-size: 2rem;
    line-height: 3.2rem;
  }

  &__icons {
    margin-top: auto;
    margin-bottom: 3.3rem;
    display: flex;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: $breakpoint-large) {
      margin-top: 2rem;
    }
  }

  &__icon-link {
    display: inline-block;
  }

  &__icon {
    width: 100%;
    max-width: 1.6rem;
    height: 1.6rem;
  }

  &__col-2 {
    max-width: 52%;
    width: 100%;
    height: 33rem;
    background: #283343;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 6rem 7rem;
    border-radius: 3rem;

    @media only screen and (max-width: $breakpoint-large) {
      max-width: 75%;
      padding: 3rem 3.5rem;
    }

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: min-content;
    row-gap: 1.7rem;
    column-gap: 7vw;

    @media only screen and (min-width: $breakpoint-big-desktop) {
      column-gap: 5rem;
    }


    @media only screen and (max-width: $breakpoint-medium) {
      column-gap: 3vw;
    }

  }

  &__item {
    color: $color-light-grey-2;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    align-self: center;
    justify-self: start;

    &--main {
      color: $color-white;
      font-weight: 700;
    }
  }

  &__item--main {
  }

  &__video {
    max-width: 26%;
    width: 100%;
    position: relative;

    @media only screen and (max-width: $breakpoint-large) {
      max-width: 50%;
    }
  }

  &__img-video {
    width: 100%;
  }

  &__play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8.7rem;
    height: 8.7rem;
    transform: translate(-50%, -50%);
    background-color: #1B2534;
    border-radius: 50%;
    cursor: pointer;
  }

  &__triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    color: $color-light-grey-2;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: .36px;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }

  }

  &__copy {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: .36px;

    @media only screen and (max-width: $breakpoint-medium) {
      order: 2;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 4.7rem;
    @media only screen and (max-width: $breakpoint-medium) {
      order: 1;
    }
  }

  &__nav-item {
    position: relative;

    &:not(:first-child)::before {
      content: "/";
      display: inline-block;
      position: absolute;
      left: -2.5rem;
    }
  }
}