.potential {
  padding: 13.8rem 3rem 0 3rem;

  background: linear-gradient(to right bottom,
      rgba(196, 245, 201, 1),
      rgba(48, 168, 255, 1));

  &__inner {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__heading {
    max-width: 57.7rem;
  }

  &__button--dark {
  }

  &__picture {
    width: 100%;
    margin-top: 8.2rem;
  }

  &__img {
    width: 100%;
  }

}

