.work {
  background-color: $color-light-grey;
  padding: 17.5rem 5rem;

  @media only screen and (max-width: $breakpoint-largest) {
    padding: 12rem 5rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);


    grid-template-rows: minmax(38rem, max-content) 24.4rem minmax(27.2rem, max-content);
    grid-column-gap: 1.6rem;
    grid-row-gap: 4.3rem;

    @media only screen and (max-width: $breakpoint-largest) {
      grid-template-rows: minmax(38rem, max-content) minmax(38rem, max-content) 24.4rem minmax(27.2rem, max-content);
    }

    @media only screen and (max-width: $breakpoint-medium) {
      grid-template-rows: minmax(38rem, max-content) minmax(38rem, max-content) minmax(24.4rem, max-content) minmax(27.2rem, max-content);
    }
  }

  &__leads {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    padding-right: 2rem;

    @media only screen and (max-width: $breakpoint-medium) {
      grid-column: 1 / -1;
    }
  }

  &__leads-text {
    font-weight: 400;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 2.7rem;
  }

  &__anywhere {
    grid-column: 5 / -1;
    grid-row: 1 / 2;
    position: relative;

    @media only screen and (max-width: $breakpoint-largest) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }

  }

  &__anywhere-img {
    width: 100%;
  }

  &__anywhere-content {
    position: absolute;
    left: 7%;
    top: 30%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: $breakpoint-largest) {
      top: 10%;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      top: 5%;
    }
  }

  &__anywhere-content-picture {
    width: 7.4rem;
    height: 7.4rem;
    background-color: $color-black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__anywhere-content-img {
    width: 50%;
  }

  &__anywhere-title {
    color: $color-white;
    font-size: 3rem;
    font-weight: 400;
    max-width: 16.3rem;
  }

  &__tools {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 4rem;
    background-color: $color-white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    @media only screen and (max-width: $breakpoint-largest) {
      grid-row: 3 / 4;
    }

  }

  &__tools-heading {
    max-width: 18.1rem;
  }

  &__tools-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__tools-img {
    @media only screen and (max-width: $breakpoint-medium) {
      width: 50%;
    }
  }

  &__support {
    grid-column: 3 / span 4;
    grid-row: 2 / 3;
    padding: 4.9rem 4rem;
    background-color: $color-white;
    border-radius: 2rem;
    display: flex;

    @media only screen and (max-width: $breakpoint-largest) {
      grid-row: 3 / 4;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }

  &__support-heading {
    max-width: 20.3rem;
  }

  &__support-img {
    object-fit: cover;
    height: 100%;
    max-height: 21rem;
    width: 100%;
    max-width: 36.1rem;
  }

  &__monitor {
    grid-column: 7 / -1;
    grid-row: 2 / 3;
    background-color: $color-white;
    border-radius: 2rem;
    padding: 2rem 6.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $breakpoint-largest) {
      grid-row: 3 / 4;
    }
  }

  &__monitor-img {
    width: 100%;
  }

  &__watch {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    background-color: #161D2D;
    display: flex;
    border-radius: 2rem;
    @media only screen and (max-width: $breakpoint-largest) {
      grid-row: 4 / -1;
    }

    @media only screen and (max-width: $breakpoint-large) {
      justify-content: space-between;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      justify-content: flex-start;
      gap: 3rem;
      flex-direction: column;
      align-items: center;
    }
  }

  &__watch-picture {
    width: 100%;
    max-width: 50rem;

    @media only screen and (max-width: $breakpoint-largest) {
      max-width: 40rem;
    }
   }

  &__watch-img {
    width: 100%;
    display: block;
  }

  &__watch-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__watch-heading {
    width: 100%;
    max-width: 18.3rem;
    text-align: right;
  }

  &__watch-button {
  }

  &__image-support {
    grid-column: -4 / span 3;
    grid-row: 3 / 4;
    background-color: $color-white;
    border-radius: 2rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: $breakpoint-largest) {
      grid-row: 4 / -1;
    }
  }

  &__image-support-heading {
  }

  &__image-support-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

  }

  &__image-support-img {
  }
}

