*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 134rem;
  margin: 0 auto;
}

.btn {
  padding: 1.6rem 3.1rem;
  border-radius: 1.7rem;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.btn--white:link, .btn--white:visited {
  background-color: #fff;
  color: #1B2534;
}
.btn--dark:link, .btn--dark:visited {
  color: #fff;
  background-color: #1B2534;
}

.heading-1 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 8rem;
}
.heading-1--highlighted {
  color: #29A0F5;
}

.heading-2 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 6.5rem;
}
.heading-2--highlighted {
  color: #29A0F5;
}

.heading-3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.2rem;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  min-height: 100vh;
  height: 108.6rem;
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo {
  height: 6rem;
  max-width: 17.5rem;
  width: 100%;
}
.header__list {
  display: flex;
  list-style: none;
  gap: 6rem;
  align-items: center;
}
.header__link:link, .header__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1B2534;
  font-weight: 400;
  line-height: 2;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.header__link.active, .header__link:hover, .header__link:active {
  color: #0082F3;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__heading {
  margin-top: 17rem;
  text-align: center;
}
.header__button--white {
  margin-top: 3.8rem;
}
.header__picture {
  margin-top: 8rem;
}
.header__img {
  width: 100%;
}

.software {
  padding-top: 52.5rem;
  padding-bottom: 16rem;
}
.software__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.software__left {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  flex-basis: 45%;
}
.software__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: capitalize;
}
.software__item {
  display: flex;
  gap: 2rem;
}
.software__picture {
  border-radius: 2rem;
  width: 9.5rem;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.software__picture--pink {
  background-color: #FED8FF;
}
.software__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.software__item-text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
}
.software__picture--green {
  background-color: #C4F5C9;
}
.software__right {
  flex-basis: 45%;
}
.software__img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
